img,legend{border:0}legend,td,th{padding:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,optgroup,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}figure{margin: 0;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre,textarea{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}table{border-collapse:collapse;border-spacing:0}

@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?81777256');
  src: url('../font/icons.eot?81777256#iefix') format('embedded-opentype'),
       url('../font/icons.woff?81777256') format('woff'),
       url('../font/icons.ttf?81777256') format('truetype'),
       url('../font/icons.svg?81777256#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-size: 1.68em;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-left: .2em;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-twitter:before { content: '\e800'; }
.icon-facebook:before { content: '\e801'; }
.icon-instagram:before { content: '\e802'; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    background: #665B7A;
}

body,
button,
input,
select,
textarea {
  color: #FFFFFF;
  font-size: 13px;
  font-size: 0.9375rem;
  line-height: 1.68;
  font-family: 'Roboto Slab', serif;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #c2bdca;
  text-decoration: none;
}

a:focus, a:hover {
  color: #64C0A9;
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0 3rem;
}

img {
    max-width: 100%;
    height: auto;
}

.buttons:before,
.buttons:after,
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

#page {
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-animation: fadeInUp 1s both;
          animation: fadeInUp 1s both;
}

#masthead {
  padding: 6rem 0 2rem;
}

#content {
  padding: 3rem 0;
}

#colophon {
  padding: 3rem 0;
}

article header {
  margin-bottom: 3rem;
}

.says {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.socials {
  color: #c2bdca;
  margin-bottom: 2rem;
}

.socials a {
  display: inline-block;
  margin: .02em;
}

#content .socials a:before {
  font-size: 2.4em;
}

.item {
  margin: 5rem auto;
  max-width: 37.5rem;
}

.buttons {
  margin-right: -.5rem;
  margin-left: -.5rem;
}

.buttons a {
    display: block;
    position: relative;
    width: 50%;
    padding: 1rem .5rem;
    float: left;
    position: relative;
    overflow: hidden;
}

.buttons a:hover {
    -webkit-animation: 1s jello both;
    animation: 1s jello both;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.buttons a.apple-store {
    float: left;
}

.buttons a.google-play {
    float: right;
}

.buttons a:before {
    content: '';
    display: block;
    height: 0;
    padding-top: 31%;
    background-color: #fff;
    background-size: 12rem;
    background-position: center;
    background-repeat: no-repeat;
}

.buttons a.apple-store:before {
  background-image: url(../img/app-store.jpg);
}

.buttons a.google-play:before {
  background-image: url(../img/google-play.jpg);
}


@media ( min-width: 64em ){

  #page {
    width: 60em;
  }
}

@media ( max-width: 64em ){

  .hidden-xs {
    display: none !important;
  }
}

@-webkit-keyframes fadeInUp {
    0%   {
      opacity: 0;
      -webkit-transform: translateY(-2rem);
              transform: translateY(-2rem);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
}

@keyframes fadeInUp {
    0%   {
      opacity: 0;
      -webkit-transform: translateY(-2rem);
              transform: translateY(-2rem);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
}


@-webkit-keyframes jello {
    11.1% {
        -webkit-transform: none;
        transform: none
    }
    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg)
    }
    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg)
    }
    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg)
    }
    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg)
    }
    66.6% {
        -webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
        transform: skewX(-.78125deg) skewY(-.78125deg)
    }
    77.7% {
        -webkit-transform: skewX(.390625deg) skewY(.390625deg);
        transform: skewX(.390625deg) skewY(.390625deg)
    }
    88.8% {
        -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
        transform: skewX(-.1953125deg) skewY(-.1953125deg)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes jello {
    11.1% {
        -webkit-transform: none;
        transform: none
    }
    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg)
    }
    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg)
    }
    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg)
    }
    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg)
    }
    66.6% {
        -webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
        transform: skewX(-.78125deg) skewY(-.78125deg)
    }
    77.7% {
        -webkit-transform: skewX(.390625deg) skewY(.390625deg);
        transform: skewX(.390625deg) skewY(.390625deg)
    }
    88.8% {
        -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
        transform: skewX(-.1953125deg) skewY(-.1953125deg)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}
